.header {
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", sans-serif;
  font-weight: 400;
  color: #000000;
  .header__title {
    font-size: 3rem;
    font-weight: normal;
    line-height: 3.625rem;
  }
  .header__item {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}