/* header */ 
.header {
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", sans-serif;
  font-weight: 400;
  color: #000000;
  .header__title {
    font-size: 3rem;
    font-weight: normal;
    line-height: 3.625rem;
  }
  .header__item {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}

/* main */ 
.main {
  font-weight: 400;
  font-style: normal;
  color: #000000;
  .section__wrapper {
    font-family: "Hiragino Kaku Gothic ProN";
    font-size: 1rem;
    line-height: 1rem;
  }
  .section__title {
    font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", YuMincho, "Yu Mincho", 游明朝体, sans-serif;
    font-size: 2.375rem;
    line-height: 2.875rem;
  }
  .info__wrapper {
    font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", YuMincho, "Yu Mincho", 游明朝体, sans-serif;
    font-size: 1.125rem;
    line-height: 1.375rem;
    .info__label {
      font-size: 0.687rem;
      line-height: 0.812rem;
    }
  }
  
  $content__wrapper__font: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", YuMincho, "Yu Mincho", 游明朝体, sans-serif;
  .content__title {
    font-family: $content__wrapper__font;
    font-size: 1.5rem;
    line-height: 1.812rem;
  }
  .content__area {
    font-family: $content__wrapper__font;
    font-size: 0.875rem;
    line-height: 1.062rem;
  }
  .list__btn {
    font-family: $content__wrapper__font;
    font-size: 1.25rem;
    line-height: 1.5rem;
    > a {
      color: #000000;
    }
  }
}

/* footer */ 
.footer {
  $footer__font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", YuMincho, "Yu Mincho", 游明朝体, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-family: $footer__font-family;
  font-style: normal;
  .footer__nav {
    font-family: $footer__font-family;
    font-size: 1.125rem;
    font-style: normal;
    line-height: 1.375rem;
    .footer__item > a {
      color: #ffffff;
    }
  }
  .copyright {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
}