.header__bg {
  background: url(/image/main.png) no-repeat center / cover;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 150px;
  height: auto;
  img {
    max-width: 100%;
  }
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header__item {
  margin-left: 50px;
  > a {
    color: #000000;
  }
}
.header__title {
  text-align: center;
  padding: 28.5vh 0;
}