.content__case {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.content__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 2);
}
.content__img {
  max-width: 430px;
  img {
    height: auto;
    width: 100%;
  }
}
.content__title {
  margin: 29px 0 15px;
}
.content__area {
  margin-bottom: 14px;
}
.detail__btn {
  max-width: 300px;
  img {
    width: 100%;
  }
}
.list__btn {
  display: flex;
  justify-content: center;
  margin: 80px 0 60px;
  text-align: center;
  > a{
    width: 202px;
    height: 50px;
    padding: 13px 40px;
    border: 1px solid #000000;
    display: block;
  }
}
.nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 90px;
}
.nav__img {
  width: calc(100vw / 3);
  height: auto;
  img {
    max-width: 100%;
  }
}

@include mq-down($breakpoint: lg) {
  .content__wrapper {
    padding: 50px 20px;
  }
  .content__case {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .content__item {
    width: 100%;
    padding-bottom: 50px;
  }
  .content__img {
    max-width: 700px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .list__btn {
    margin: 0;
  }
  .nav__wrapper {
    padding-top: 50px;
    flex-direction: column;
  }
  .nav__img {
    width: 100%;
    img {
      max-width: 960px;
      height: auto;
    }
  }
}